.Header-div {
    display: flex;
    justify-content: center;
}

.Home-Link {
    text-decoration: None;
    margin-right: 15px;
}

.About-Link {
    text-decoration: None;
    margin-left: 15px;
    margin-right: 15px;
}

.Projects-Link {
    text-decoration: None;
    margin-left: 15px;
}